{% extends "base.html" %}

{% block content %}

<h1>Insert dta for the company</h1>
<form action="" method="post" novalidate>

    {{ form.hidden_tag() }}

<div class="mb-3">
  <label class="form-label">{{ form.insuranceId.label }}</label>

        {{ form.insuranceId(size=32, value=insuranceId, class="form-control") }}
        {% for error in form.insuranceId.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
       
</div>

 <p>{{ form.submit( type="submit", class="btn btn-primary" ) }}</p>
  
    
</form>
{% endblock %}